[user]
	name = Tom Johnson
	email = hertzz@users.noreply.github.com
[push]
	default = simple
[core]
	excludesfile = /Users/tom/.gitignore_global
[help]
	autocorrect = 1
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red
	new = green
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color]
	ui = auto
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
